
<div class="opener">
  <p> At Mario's, we pride ourselves on carrying a wide variety of industry products. It is our company's mission to provide and dispense exceptional lab tested cannabis products at competitive pricing. Our knowledgeable and friendly staff is ready to greet and assist recreational customers in making informed decisions about their purchases. Must be +21 to party 🌟.

</div>
<br>
<br>
<div class="picture">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/4ddabef1-8390-424a-a828-f61e4df3d499/daraj8q-aa71d933-f07d-4901-b0dc-a8982be740ad.gif" alt="">
</div>

<div class="container">
  <h3> Highest Reviewed Product </h3>

  <% if @products.most_reviews.any? %>
  <ul>
    <%@products.most_reviews.each do |product| %>
    <li><%=link_to product.name, product_path(product)%></li>
    <%end%>
  </ul>
  <%else%>
  <p>No reviews at all.</p>
  <%end%>
</div>

<div class="container">
  <h3> Recent Products </h3>

  <% if @products.most_recent.any? %>
  <ul>
    <%@products.most_recent.each do |product| %>
    <li><%=link_to product.name, product_path(product)%></li>
    <%end%>
  </ul>
  <%else%>
  <p>No Products.</p>
  <%end%>
</div>

<div class="container">
  <h3> USA products </h3>

  <% if @products.local.any? %>
  <ul>
    <%@products.local.each do |product| %>
    <li><%=link_to product.name, product_path(product)%></li>
    <%end%>
  </ul>
  <%else%>
  <p>No current products made in USA.</p>
  <%end%>
</div>

<div class="container">
<h1>All Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet. Hop in the pipe and roll one up.</p>
<% end %>

<p><%= link_to "Roll one up", new_product_path %></p>
</div>
