<h2><%= @product.name %></h2>
<br>
Please add a description.
<br>

<%= form_tag("/products/:id", method:"post", class:"form-group") do %>
<%= label_tag("description:") %>
<%= text_field_tag(:title) %>
<%= submit_tag("Add Recipe") %>
<% end %>
