<h3>Add a new review:</h3>
<br>
<br>

<%= form_for [@product, @review] do |g| %>
  <%= g.label :author %>
  <%= g.text_field :author %>
  <br>
  <br>
  <%= g.label :content_body %>
  <%= g.text_area :content_body %>
  <br>
  <br>
  <p>please enter a number rating 1-5</p>
  <%= g.label :rating %>
  <%= g.text_field :rating %>

  <p><%= g.submit %></p>
<% end %>
