<h3>Reviewer: <%= @review.author %></h3>
<br>
<h4>Product: <%= @product.name %></h4>
<br>
<h5>Rating: <%= @review.rating %></h5>
<br>

<p><%= @review.content_body %></p>
<br>
<br>




<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to product", product_path(@product) %></p>
