<!DOCTYPE html>
<html>
  <head>
    <title>MariosFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <style>
      .jumbotron {
        text-align: center;
        background-image: url("https://images.unsplash.com/photo-1536964310528-e47dd655ecf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80");
        background-size: cover;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 8px;

      }



    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Welcome to Mario's</h1>
    </div>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>


    </div>
  </body>
</html>
