<!DOCTYPE html>
<html>
  <head>
    <title>MariosFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <style>
      .jumbotron {
        text-align: center;
        background-image: url("https://images.unsplash.com/photo-1536964310528-e47dd655ecf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80");
        background-size: cover;
        background-position: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
      }
      .picture {
        float: right;
        transform: rotateY(180deg);
      }
      .opener {
        border-style: solid;
        border-width: 2px;
        border-color: red;
        padding: 7px;
        background-color: crimson;
        color: white;
      }
      body {
        background-color:indianred ;
      }
      .container {
        background-color: white;
        padding: 10px;
      }




    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Welcome to Mario's 🍄</h1>
      <h4> (more than just pipes) </h4>
    </div>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>


    </div>
  </body>
</html>
